<div class="home-wrapper">
  <div class="output-wrapper">
    <div id="intro"></div>

  </div>

  <table class="weather-description-wrapper">
    <tbody>
      <tr>
        <td><div id="weather-icon"></div></td>
        <td><span id="weather-description"></span></td>
      </tr>
      <tr>
        <td>🌡</td>
        <td><div id="weather-temperature"></div></td>
      </tr>
    </tbody>
  </table>
</div>


<script>
  const GET_WEATHER = "{{routeGetWeather}}"
  const GET_WEATHER_BY_IP = "{{routeGetWeatherByIP}}"

  navigator.geolocation.getCurrentPosition(
    async (position) => {
      const url = new URL(`${GET_WEATHER}`)
      url.search = new URLSearchParams({
        lat: position.coords.latitude,
        lon: position.coords.longitude
      }).toString();
      const response = await fetch(url);
      const data = await response.json();

      const [intro] = data.clothes
      document.getElementById("intro").innerHTML = intro

      data.clothes.forEach((description, index) => { 
        if (index === 0) return
        const newDiv = document.createElement("div")
        newDiv.innerHTML = description        
        document.getElementById("intro").parentNode.insertBefore(newDiv, document.getElementById("intro").nextSibling);
      })

      document.getElementById("weather-description").innerHTML = data.weather.description

      const wi = document.getElementById("weather-icon")
      wi.style.backgroundImage=`url('${data.weather.icon}')`

      document.getElementById("weather-temperature").innerHTML = data.weather.temperature

  }, async (error) => {
      const url = new URL(`${GET_WEATHER_BY_IP}`)
      const response = await fetch(url);
      const data = await response.json();
  });
</script>