<div class="output-wrapper">
  <div id="output"></div>
</div>

<table class="weather-description-wrapper">
  <tbody>
    <tr>
      <td><div id="weather-icon"></div></td>
      <td><span id="weather-description"></span></td>
    </tr>
    <tr>
      <td>🌡</td>
      <td><div id="weather-temperature"></div></td>
    </tr>
  </tbody>
</table>


<script>
  const GET_WEATHER = "{{routeGetWeather}}"
  const GET_WEATHER_BY_IP = "{{routeGetWeatherByIP}}"

  navigator.geolocation.getCurrentPosition(
    async (position) => {
      const url = new URL(`${GET_WEATHER}`)
      url.search = new URLSearchParams({
        lat: position.coords.latitude,
        lon: position.coords.longitude
      }).toString();
      const response = await fetch(url);
      const data = await response.json();

      document.getElementById("output").innerHTML = data.clothes
      document.getElementById("weather-description").innerHTML = data.weather.description

      const wi = document.getElementById("weather-icon")
      wi.style.backgroundImage=`url('${data.weather.icon}')`

      document.getElementById("weather-temperature").innerHTML = data.weather.temperature

  }, async (error) => {
      const url = new URL(`${GET_WEATHER_BY_IP}`)
      const response = await fetch(url);
      const data = await response.json();
  });
</script>