# This vars are applied automatically when running `terraform apply` or `terraform plan`
# Rename to env.auto.tfvars to make it work

cloudflare_api_token = "CLOUDFLARE_API_TOKEN" // find at https://dash.cloudflare.com/profile/api-tokens
openweather_api_key  = "OPENWEATHER_API_KEY" // find at https://home.openweathermap.org/api_keys
